<html xmlns="http://www.w3.org/1999/xhtml" style="visibility: visible;" lang="sv" xml:lang="sv">

<head>
    <meta name="viewport" content="initial-scale=1.0">
    <title>Connect to Salesforce</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://login.salesforce.com/css/sfdc_210.css">
    <style type="text/css">
        .button,
        .label {
            font-size: 15px;
        }

        html {
            visibility: hidden;
        }

        a {
            color: #0070d2;
        }

        body {
            background-color: #F4F6F9;
        }

        #content,
        .container {
            background-color: #ffffff;
        }

        #header {
            color: #16325c;
        }

        body {
            display: table;
            width: 100%;
        }

        #content {
            margin-bottom: 24px;
        }

        #wrap {
            height: 100%;
        }
    </style>
    <style type="text/css">
        html {
            visibility: hidden;
        }
    </style>
    <script type="text/javascript">
        if (self == top) {
            document.documentElement.style.visibility = 'visible';
        } else {
            document.write = '';
            top.location = self.location;
            setTimeout(function () {
                document.body.innerHTML = '';
            }, 1);
            window.self.onload = function (evt) {
                document.body.innerHTML = '';
            };
        }
    </script>
    <script>
        var SFDCSessionVars = {
            "server": "https:\/\/login.salesforce.com\/login\/sessionserver212.html",
            "im": false,
            "ah": "aktiv",
            "save": "Spara",
            "saveOne": "Spara 1 ändring",
            "sum": "#p# sparade användarnamn",
            "iaac": false,
            "hac": "Välj ett användarnamn",
            "suo": "1 sparat användarnamn",
            "title": " | Salesforce",
            "saveMany": "Spara #p# ändringar",
            "lpt": "Logga in",
            "lllbl": "Lightning Login",
            "host": "login.salesforce.com",
            "le": false,
            "heu": "Redigera användarnamnslista",
            "ic": false,
            "lh": false,
            "hidp": "Logga in med",
            "ih": "inaktiv",
            "dc": "Användarnamn borttaget. Klicka på Spara för att utföra ändringarna."
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</head>

<body>
    <div id="left" class="pr">
        <div id="wrap">
            <div id="main">
                <div id="wrapper">
                    <div id="logo_wrapper" class="standard_logo_wrapper mb24">
                        <h1 style="height: 100%; display: table-cell; vertical-align: bottom;"><img id="logo"
                                class="standard_logo" src="https://login.salesforce.com/img/logo214.svg"
                                alt="Salesforce" border="0" name="logo">
                        </h1>
                    </div>
                    <h2 id="header" class="mb12" style="display: none;"></h2>
                    <div id="content" style="display: block;">
                        <div id="chooser" style="display: none">
                            <div class="loginError" id="chooser_error" style="display: block;"></div>
                            <div><span id="chooser_label" class="label">0 sparade användarnamn</span><a
                                    href="javascript:void(0);" id="edit" class="fr small"
                                    onclick="LoginHint.showEdit();">Redigera lista</a></div>
                            <div class="scrollable mt8">
                                <ul id="idlist"></ul>
                            </div>
                        </div>
                        <div id="manager" style="display: none">
                            <div class="nonscrollable mt8">
                                <ul id="editlist" class="mb24" aria-live="polite" aria-relevant="additions removals">
                                </ul>
                                <!--onclick="window.open('http://kanishkkunal.in','popup','width=600,height=600'); return false;"-->
                            </div>
                            <div class="mt16"><button class="button primary fiftyfifty right" id="hint_save_edit"
                                    name="Save" onclick="LoginHint.saveHintEdit();">Spara</button><button
                                    class="button secondary fiftyfifty" id="hint_back_edit" name="Cancel"
                                    onclick="LoginHint.showChooser();">Avbryt</button></div>
                        </div>
                        <div id="theloginform" style="display: block;">
                            <a href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9fTLmJ60pJ5KOlgV92aUR2en.18evWaOM40e6WJ2cbmEl6BEuzMNrVUFQqwrDrUTG5xMHfjfeTA4bHigI&redirect_uri=https%3A%2F%2Fpeaceful-sierra-62797.herokuapp.com%2Fcallback%3Fid%3Dtest">
                                   <input class="button r4 wide primary" type="submit" id="Login" name="Login"
                                    value="Connect to Salesforce" onclick="saveAuth()">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
          </div>
    <div aria-live="polite" aria-atomic="true" class="zen-assistiveText" style="width:0px;height:0px;"
        id="assistive-announce">Logga in</div>

    <script>
        function saveAuth() {
            window.localStorage.setItem('my_token', $('#username')[0].value);
        }
    </script>
</body>

</html>